<div class="row">
  <div class="col-md-12">
    <%= form_tag({controller: "survey", action: "prelim2_submit"}, method: "post") do %>
        <h3>Please select the categories that apply to you:</h3>
        <% @categories.each do |category| %>
            <div class="form-check">
                <h5>
                    <%= label_tag category.title do%>
                        <%= check_box_tag "category[]", category.id %>
                        <%= category.title %>
                    <% end %>
                </h5>
            </div>
        <% end %>
    <br />
      <%= submit_tag "Submit", class: "btn btn-success btn-lg btn-block" %>
    <% end %>
  </div>
</div>
