<div class="row">
  <div class="col-md-12">
    <h3>Your Results</h3>
    <p>Here are some RSOs to look into as you try to become more involved</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if flash[:success] %>
        <div class="alert alert-success"><%= flash[:success] %></div>
    <% end %>
    <% if flash[:error] %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <% for i in 0..(@rsos.count - 1) %>
        <%= render partial: 'rso_result', :locals => {r: @rsos[i] } %>
    <% end %>
  </div>
  <div class="col-md-3">
    <h5>Email your results to yourself</h5>
    <%= form_tag({controller: "survey", action: "email_results"}, method: "post") do %>
        <%= email_field_tag(:email, "", class: "form-control") %>
        <%= hidden_field_tag(:matchset_id, @match_set_id) %>
        <%= submit_tag("Send", class: "btn btn-primary") %>
    <% end %>
</div>

