<div class="row">
    <div class="col-md-12">
        <%= flash_messages %>
        <h3>Edit category group</h3>
        <%= form_tag({controller: "category", action: "update_category_group"}, method: "post") do %>
            <%= hidden_field_tag :id, @category_group.id%>
            <div class="form-group row">
                <%= label_tag :title, "Title", class: "col-2 col-form-label" %>
                <div class="col-5">
                    <%= text_field_tag :title, @category_group.title, class: "form-control", type: "text" %>
                </div>
            </div>
            <%= submit_tag "Update Category Group", class: "btn btn-success" %>
        <% end %>
    </div>
</div>
