<div class="row">
    <div class="col-md-12">
        <%= flash_messages %>
        <h3>Create a category group</h3>
        <%= form_tag({controller: "category", action: "create_category_group"}, method: "post") do %>
            <div class="form-group row">
                <%= label_tag :title, "Title", class: "col-2 col-form-label" %>
                <div class="col-5">
                    <%= text_field_tag :title, "", class: "form-control", type: "text" %>
                </div>
            </div>
            <%= submit_tag "Create Category Group", class: "btn btn-success" %>
        <% end %>
    </div>
</div>
