<div class="row">
  <div class="col-md-12">
    <%= flash_messages %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>RSO Bulk Upload</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for(Csv.new, url: rso_bulk_upload_path, method: "post") do |f|%>
      <div class="form-group">
        <%= f.label :csvfile, "CSV File Upload" %>
        <%= f.file_field :csvfile %>
      </div>
      <%= f.submit "Upload", class: "btn btn-primary btn-block"%>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to("Download the existing RSOs to a CSV file", rso_bulk_download_path + ".csv", class: "btn btn-success")%>
  </div>
</div>
