<div class="row">
  <div class="col-md-12">
    <%= flash_messages %>
  </div>
</div>
<%= form_tag({controller: "rso", action: "modify_rso"}, method: "post", id: "modify_rso", class: "form") do %>
  <%= hidden_field_tag(:rso_id, @rso.id) %>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= label_tag :rso_name, "Name" %>
            <%= text_field_tag :rso_name, @rso.name, class: "form-control", type: "text" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= label_tag :rso_nickname, "Nickname" %>
            <%= text_field_tag :rso_nickname, @rso.nickname, class: "form-control", type: "text" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= label_tag :rso_website, "Website" %>
            <%= text_field_tag :rso_website, @rso.website, class: "form-control", type: "text" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= label_tag :rso_description, "Description" %>
            <%= text_area_tag :rso_description, @rso.description, class: "form-control", type: "textarea", rows: "3" %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-2">
          <%= button_tag 'modify_rso', :name => 'delete_rso', :class => "btn btn-danger btn-block" do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
            Delete
          <% end %>
        </div>
        <div class="col-md-8">
        </div>
        <div class="col-md-2">
          <%= button_tag 'modify_rso', :name => 'edit_rso_attributes', :class => "btn btn-success btn-block" do %>
            <i class="fa fa-check" aria-hidden="true"></i>
            Save
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="form-group row">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <th>Keyword</th>
              <th>Weight</th>
              <th>Associated Answers</th>
              <th></th>
            </thead>
            <% @rso.keywords.each do |keyword| %>
              <%# would be great if the following code could be moved to the controller... %>
              <% @keyword_count = 0 %>
              <% Question.all.each do |question| %>
                <% question.answers.each do |answer| %>
                  <% @keyword_count += answer.keywords.where(keyword: keyword.keyword).count %>
                <% end %>
              <% end %>
              <tr>
                <td width=30%>
                  <%# Should this also be user-modifiable? %>
                  <%= keyword.keyword %>
                </td>
                <td width=30%>
                  <div class="btn-group" data-toggle="buttons">
                    <% (1..5).each do |num| %>
                      <% if (num == keyword.weight) %>
                        <label class="btn btn-primary answer-gradient active">
                          <%= radio_button_tag "keyword_weights[" + keyword.id.to_s + "]", num %>
                          <%= num %>
                        </label>
                      <% else %>
                        <label class="btn btn-primary answer-gradient">
                          <%= radio_button_tag "keyword_weights[" + keyword.id.to_s + "]", num %>
                          <%= num %>
                        </label>
                      <% end %>
                    <% end %>
                  </div>
                </td>
                <td width=30%>
                  <%= @keyword_count %>
                </td>
                <td width=10% class="btn-group">
                  <%= button_tag 'modify_rso', :name => 'edit_keyword', :value => keyword.id, :class => "btn btn-success" do %>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  <% end %>
                  <%= button_tag 'modify_rso', :name => 'delete_keyword', :value => keyword.id, :class => "btn btn-danger" do %>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <% end %>
                </td>

              </tr>
            <% end %>
            <tr>
              <td width=30%>
                <%= text_field_tag("new_keyword_title", "",  class: "form-control") %>
              </td>
              <td width=30%>
                <div class="btn-group" data-toggle="buttons">
                  <% (1..5).each do |num| %>
                    <label class="btn btn-primary answer-gradient">
                      <%= radio_button_tag "new_keyword_weight", num %>
                      <%= num %>
                    </label>
                  <% end %>
                </div>
              </td>
              <td width=30%>
                <%# Nothing goes here because a new keyword can't have an associated answers %>
              </td>
              <td width=10%>
                <%= button_tag 'modify_rso', :name => 'add_keyword', :class => "btn btn-success" do %>
                  <i class="fa fa-plus" aria-hidden="true"></i>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer">
      
    </div>
  </div>
<% end %>
